body {
    background-image: url(../img/dark-stage.jpg);
    background-size: cover;
    font-family: proxima nova, sans-serif;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
    font-family: proxima nova, sans-serif;
    font-size: 150px;
    color: white;
}

ul {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    margin: auto;
    font-weight: bold;
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    background-color: rgba(120, 120, 120, 0);
    font-size: 35px;
}

li {
    float: left;
    width: fit-content();
}

    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

        li a:hover {
            transform: translate(0px, -3px);
            transition-duration: 0.3s;
        }

        li .active {
            text-decoration: underline;
            text-underline-offset: 0.2em;
        }
